<% provide :title, 'Javascript Not Enabled' %>

<h1>Get in the Game!</h1>
<h2>You Must Have Javascript Enabled To Use This Site</h2>
<div class="photo">
  <%= image_tag 'soccer-boy.jpg', alt: 'boy sitting on soccer field' %>
</div>
<h5>
  Please enable Javascript in your browser and then<br>
  return to our home page, <%= link_to root_url, root_url %>
</h5>
<h5>
  For directions on how to enable Javascript, go to <a href="http://www.enable-javascript.com/" target="_blank">http://www.enable-javascript.com/</a>
</h5>