/**
*
* We are using a slightly modified version of ITCSS to
* handle the styles for PodKeeper.  Please reference
* https://speakerdeck.com/dafed/managing-css-projects-with-itcss
* for more information.
*
* Styles that belong here: Helpers and overrides.
**/

.new-content {
  a {
    color: $green;
  }

  svg {
    fill: $green;
    margin-right: 5px;
    vertical-align: middle;
  }

  @include font-size(16px);
}

.border-gray {
  border: 1px solid $event-border;
}

.error {
  color: $red;
  font-style: italic;

  @include font-size(12px);
}

.mobile-collapse {
  padding: 0;
}

table.table > td {
  display: block !important;
}

@media (min-width: 768px ) {
  table.table > td {
    display: table-cell !important;
  }

  .mobile-collapse {
    padding: 0 15px;
  }
}