<% provide :title, 'Pod no longer exists' %>

<h1 style="font-size:36px;">Pod no longer exists</h1>
<h2>I'm sorry... The Pod Organizer has deleted this Pod.</h2>
<p>However, you can make your own Pod. <%= link_to 'Create one now', new_pod_path %></p>

<p>Return to <%= link_to 'Home Page', root_path %></p>