<% provide :title, 'Site Maintenance in Progress' %>

<h1 style="font-size:36px;">Site Maintenance in Progress</h1>
<h2>Thank you for your patience as we upgrade the website to make it work better for you.</h2>
<p>Please try again in a few minutes.</p>
<div class="photo">
  <%= image_tag 'science-kids.jpg', alt: 'boy sitting on soccer field' %>
</div>
<p>
  As the kids in the Science Club know, getting the <br/>
  formula just right takes patience and hard work.
</p>