$('.modal').modal('hide');
$('#flash-message-container').html('<div class="alert alert-success">Your default account time zone has been updated successfully!</div>');
$('#time-zone-modal input#current_user_time_zone').val("<%= @time_zone[0..9] %>");