* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

html, body {
  font-size: $body-size;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

body.no-scroll {
  overflow: hidden;
}

a {
  outline: none;
}

.page-sign-up {
  background: $blue-gray;
  display: table;
  margin: 35px auto 20px;
  padding: 20px 40px;

  .btn--green {
    border-radius: 0;
    display: table;
    margin-bottom: 15px;
    padding: 14px 36px;

    &:hover {
      color: #fff;
    }

    @include font-size(24px);
  }

  p {
    color: $text-color;
    font-weight: 500;
    margin: 0;

    @include font-size(21px);
  }
}