<h3 style="margin-bottom:0; color:#456189">Examples of groups include:</h3>
<ul style="margin-top:0;">
    <li>Kids’ sports (soccer, little league, karate, swim team, etc.)</li>
    <li>School classes (room mom, teacher)</li>
    <li>Scouts (boy, girl and cub scouts, brownies)</li>
    <li>Playgroups</li>
    <li>Non-sports activities (art, music, dance, band, etc.)</li>
    <li>Parent activities (book or supper clubs, sports teams, etc.)</li>
</ul>