<h3 style="margin-bottom:0; color:#456189">How PodKeeper Can Help You and Your Group</h3>
<ul style="margin-top:0;">
    <li>Discussions - Enter, view and discuss important group information.</li>
    <li>Events - Set up events, RSVP to them and easily reference details later.</li>
    <li>Email Notifications - Receive important updates to your regular email.</li>
</ul>