<h3 style="margin-bottom:0; color:#456189">Invite Someone Else to Create a Pod</h3>
<p style="margin: 0 0 10px 0;">If you’re not the group organizer or if you know of anyone who would benefit from PodKeeper, go to Ask a Group Leader to Create a Pod. Or, you can email us his/her name, email address and the type of group to podinfo@podkeeper.com and we will invite him/her to create a Pod.</p>