<h3 style="margin-bottom:0; color:#456189">What Types of Groups Should Use PodKeeper?</h3>
<p style="margin: 0 0 10px 0;">PodKeeper works best for any group that has multiple events over time, needs to provide updates or information to the members, has any logistics or sign-ups that need to be coordinated, or wants to facilitate a way for member interaction.</p>
