$blue: #456189;
$blue-gray: #F0F2F6;
$dark-blue: #326297;
$green: #9FC03B;
$light-green: #a1c33a;
$gray: #686868;
$red: #AB3334;

$calendar-arrow: #BCC2C9;
$event-border: #B5C0D0;
$text-color: #4D4C4C;
$new-count: #F7941E;
$save-to-calendar: #A0C133;