.alert {
  &.success {
    background: $green;
    color: #fff;
  }

  &.warning {
    background: $red;
    color: #fff;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .close {
    color: #fff;
    font-family: 'Open Sans';
    opacity: 1;
    text-shadow: none;

    @include font-size(16px);
  }
}