.btn {
  border-radius: 5px;
  display: inline-block;
  line-height: 1;
  padding: 9px 25px;

  @include font-size(16px);
}

.btn--cancel {
  border: 1px solid $red;
  color: $red;
}

.btn--green {
  background: $green;
  color: #fff;
}

.btn--signup {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  color: #fff;
  outline: none;
  text-transform: uppercase;

  &:hover, &:active, &:visited {
    color: #fff;
    outline: none;
  }
}