.event-container {
  border-top: 1px solid $event-border;
}
.event {
  border-bottom: 1px solid $event-border;
  padding: 8px 8px 0;

  h4 {
    color: $blue;
    font-weight: 300;
    margin-bottom: 4px;
    margin-top: 0;

    @include font-size(16px);
  }

  p {
    margin-bottom: 4px;
  }

  &.active {
    background: $blue-gray;
  }
}

#main > .event {
  border-top: 1px solid $event-border;
}

#main > .event ~ .event {
  border-top: none;
}

.event-date {
  position: relative;

  .event-date__icon {
    fill: $blue;
    position: relative;
    width: 50px;
  }

  .event-date__month {
    color: $blue;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 3px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    @include font-size(10px);
  }

  .event-date__day {
    color: #fff;
    left: 50%;
    position: absolute;
    top: 18px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    @include font-size(20px);
  }
}

.event-meta {
  color: $text-color;

  @include font-size(12px);
}

.event-rsvp {
  margin-top: 12px;
  width: 21.5625%;

  p {
    color: $text-color;
  }

  @include font-size(12px);
}

[class^=event] {
  .header {
    background: $event-border;
    color: #fff;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 8px 15px;

    @include font-size(16px);
  }
}

.event-details-name {
  background: $dark-blue;
  color: #fff;
  line-height: 1.2;
  margin: 0;
  padding: 10px 15px;

  @include font-size(20px);
}

.event-details-container {
  color: $text-color;
  padding-bottom: 15px;
  position: relative;

  .container {
    position: relative;
  }

  h3 {
    color: $blue;
    font-weight: 300;

    @include font-size(16px);
  }

  p {
    margin: 0;
  }

  &.event-reminder {
    h3 {
      font-weight: 600;

      @include font-size(18px);
    }

    @include font-size(14px);
  }

  @include font-size(12px);
}

.event-details__actions {
  margin-top: 15px;

  .btn {
    background: $blue;
    border-color: $blue;
    color: #fff;
    margin: 0;
    padding: 9px 0;
    text-align: center;
    width: 44.8275862%;

    &:last-child {
      margin-left: 30px;
    }
  }
}

.event-details--desktop {
  .container {
    width: 100%;
  }

  .icon-events {
    display: table;
    margin-top: 50px;
  }

  p {
    color: $dark-blue;
    margin: 25px auto 0;
    text-align: center;

    @include font-size(18px);
  }
}

.save-web, .view-map {
  color: $save-to-calendar;
}

.event-send-reminders {
  textarea {
    height: 150px;
    width: 100%;
  }

  label {
    font-weight: 300;
  }

  input[type=checkbox] {
    margin-right: 5px;
    vertical-align: top;
  }

  input[type=submit], input[type=submit]:hover {
    border-radius: 3px;
    color: #fff;
    font-weight: 300;
    line-height: 1.2;
    margin-left: 20px;
    padding: 9px 25px;
    vertical-align: 1px;
  }

  .btn--cancel {
    border-radius: 3px;
    color: $red;
    padding: 9px 25px;
    text-decoration: none;

    @include font-size(16px);
  }
}

.new_event, .edit_event {
  .error {
    display: none;
  }

  .end-date-time {
    display: none;
  }

  .multiple-event {
    display: none;
  }

  .single-event.show-end, .single-event.hide-end {
    cursor: pointer;
    display: none;
    position: relative;

    .icons {
      position: relative;

      @include font-size(28px);
    }

    .icons__delete {
      color: $red;
    }

    span {
      vertical-align: 7px;

      &:hover {
        text-decoration: underline;
      }
    }

    &.active {
      display: inline-block;
    }
  }

  &.weekly-series {

    .single-event {
      display: none;
    }

    .multiple-event {
      display: block;
    }

    .single-event.show-end, .single-event.hide-end {
      display: none;
    }

    .show-end, .hide-end {
      cursor: pointer;
      display: none;
      position: relative;

      .icons {
        position: relative;

        @include font-size(28px);
      }

      .icons__delete {
        color: $red;
      }

      span {
        vertical-align: 7px;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active {
        display: inline-block;
      }
    }
  }
}

.specify-reminders {
  a {
    &:after {
      border-top: 5px solid $gray;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      content: '';
      display: inline-block;
      margin-left: 5px;
      margin-top: -2px;
      vertical-align: middle;
    }
  }
}

@media (min-width: 768px) {
  .event-details-container, .event-rsvp-container, .event-attending-container {
    .container {
      width: 100%;
    }
  }
}