.home-page {

  .container {
    width: 100%;
  }

  .home-page__hero {
    background: image-url('hero-back.jpg') no-repeat center center;
    background-size: cover;
    height: 432px;
    margin: 0;
    position: relative;
    width: 100%;
  }

  .home-page__hero-content {
    color: #fff;
    position: absolute;
    text-align: center;

    h3 {
      font-family: 'Raleway';
      font-weight: 500;
      margin-bottom: 5px;

      @include font-size(32px);
    }

    em {
      font-family: 'Open Sans';
      @include font-size(16px);
    }

    .btn {
      display: table;
      font-family: 'Open Sans';
      font-weight: 300;
      margin: 20px auto 0;

      @include font-size(20px);
    }
  }

  .home-page__hero-video {
    height: 131px;
    left: 69px;
    position: absolute;
    top: 197px;
    width: 241px;
  }

  .home-page__nav {
    // display: none;
  }

  .home-page__nav-item {
    color: $text-color;
    font-weight: normal;
    padding: 15px 0;

    @include font-size(16px);
  }

  .home-page__tagline {
    background: $dark-blue;
    color: #fff;
    font-family: 'Raleway';
    padding: 10px 0;

    @include font-size(16px);
  }

  .home-page__description-box {
    position: relative;

    h5 {
      color: $dark-blue;
      font-family: 'Open Sans';

      @include font-size(18px);
    }

    p {

    }

    img {
      width: 100%;
    }

    .icon {
      background: #fff;
      border-radius: 170px;
      fill: $light-green;
      height: 85px;
      left: 50%;
      position: absolute;
      top: -42.5px;
      transform: translateX(-50%);
      width: 85px;
    }

    .content {
      background: $blue-gray;
      padding: 45px 10px 10px;
      position: relative;
    }
  }

  .home-page__description {
    h3 {
      color: $dark-blue;
      font-family: 'Raleway';

      @include font-size(24px);
    }

    h4 {
      color: $dark-blue;
      font-family: 'Raleway';
      margin: 15px 0 20px;

      @include font-size(16px);
    }

    p {
      color: $gray;
      font-family: 'Open Sans';

      @include font-size(14px);
    }
  }

  .home-page__description-box {
    margin-bottom: 20px;
  }

  .home-page__icons {
    display: none;
    padding: 20px 0 30px;

    svg {
      fill: $light-green;
      height: 70px;
      margin: 12px 12px;
      width: 70px;
    }
  }

  .home-page__examples {
    background: $dark-blue;
  }

  .home-page__example {
    color: #fff;
    font-family: 'Open Sans';
    padding: 15px 0 10px;

    svg {
      height: 40px;
      width: 40px;
    }

    h5 {
      font-weight: 300;
      line-height: 1.4;
    }
  }

  .home-page__media {
    background: $blue-gray;
    padding: 20px 0 35px;

    h3 {
      color: $dark-blue;
      font-family: 'Raleway';

      @include font-size(24px);
    }

    h5 {
      color: $gray;
      font-family: 'Open Sans';
      margin-bottom: 25px;

      @include font-size(18px);
    }

    img {
      width: 100%;
    }
  }

  .home-page__sign-up {
    margin: 45px auto;

    ul {
      display: table;
      list-style-type: none;
      margin: 0 auto;

      li {
        color: $dark-blue;
        font-family: 'Raleway';
        margin-bottom: 25px;
        text-align: left;

        @include font-size(20px);
      }
    }

    .btn {
      border-radius: 0 !important;
      font-family: 'Raleway';
      font-weight: 300;
      margin-bottom: 40px;
      margin-top: 20px;
      padding: 12px 55px 15px;

      @include font-size(36px);
    }

    p {
      color: $dark-blue;
      font-family: 'Raleway';

      @include font-size(22px);
    }
  }
}

@media (min-width: 600px) {
  .home-page {

    .container {
      width: 100%;
    }

    .home-page__hero {
      background: image-url('hero-back-desktop.jpg') no-repeat center right;
      background-size: cover;
      height: 360px;
      margin: 0;
      position: relative;
      width: 100%;
    }

    .home-page__hero-content {
      display: none;
    }

    .home-page__hero-video {
      height: 220px;
      left: auto;
      position: absolute;
      right: 47px;
      top: 51px;
      width: 399px;
    }

    .home-page__tagline {
      padding: 15px 0;

      @include font-size(18px);
    }
  }
}

@media (min-width: 768px) {
  .home-page {

    .container {
      width: 100%;
    }

    .home-page__hero {
      background: image-url('hero-back-desktop.jpg') no-repeat center right;
      background-size: cover;
      height: 360px;
      margin: 0;
      position: relative;
      width: 100%;
    }

    .home-page__hero-content {
      color: #fff;
      display: block;
      left: 20px;
      position: absolute;
      text-align: left;
      top: 25px;
      width: 240px;

      h3 {
        font-family: 'Raleway';
        font-weight: 500;

        @include font-size(23px);
      }

      p {
        color: $light-green;
        font-family: 'Raleway';
        font-weight: 500;

        @include font-size(23px);
      }

      .free {
        display: block;
        margin-left: 20px;
        margin-top: 15px;
      }

      em {
        font-family: 'Open Sans';
        // width: 200px;

        @include font-size(14px);
      }

      .btn {
        font-family: 'Open Sans';
        font-weight: 300;
        margin: 20px 0 0;

        @include font-size(14px);
      }
    }

    .home-page__hero-video {
      height: 223px;
      left: auto;
      position: absolute;
      right: 50px;
      top: 49px;
      width: 400px;
    }

    .home-page__nav {
      display: block;
      padding: 40px 0 35px;
    }

    .home-page__nav-item {
      color: $gray;
      font-family: 'Raleway';
      text-decoration: none;

      @include font-size(25px);
    }

    .home-page__tagline {
      padding: 35px 0;

      @include font-size(24px);
    }

    .home-page__description-box {
      padding: 15px;

      h5 {
        color: $dark-blue;
        font-family: 'Open Sans';

        @include font-size(18px);
      }

      img {
        width: 100%;
      }

      .icon {
        height: 55px;
        position: absolute;
        top: -27.5px;
        width: 55px;
      }

      .content {
        background: $blue-gray;
        height: 240px;
        padding: 25px 10px 10px;

        p {
          @include font-size(14px);
        }
      }
    }

    .home-page__description {
      h3 {
        color: $dark-blue;
        font-family: 'Raleway';

        @include font-size(36px);
      }

      h4 {
        color: $dark-blue;
        font-family: 'Raleway';
        margin: 15px 0 20px;

        @include font-size(24px);
      }

      p {
        color: $gray;
        font-family: 'Open Sans';

        @include font-size(16px);
      }
    }

    .home-page__icons {
      display: none;
    }

    .home-page__media {
      background: $blue-gray;
      padding: 55px 0 75px;

      h3 {
        color: $dark-blue;
        font-family: 'Raleway';

        @include font-size(36px);
      }

      h5 {
        color: $gray;
        font-family: 'Open Sans';
        margin-bottom: 25px;

        @include font-size(24px);
      }
    }
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .home-page {
    .home-page__hero {
      background: image-url('hero-back-desktop.jpg') no-repeat center right;
      background-size: cover;
      height: 437px;
      position: relative;
      width: 100%;
    }

    .home-page__hero-content {
      color: #fff;
      display: block;
      left: 15px;
      position: absolute;
      top: 30px;
      width: 345px;

      h3 {
        font-family: 'Raleway';
        font-weight: 500;

        @include font-size(32px);
      }

      p {
        color: $light-green;
        font-family: 'Raleway';
        font-weight: 500;
        width: 100%;

        @include font-size(32px);
      }

      .free {
        display: block;
        margin-left: 0;
        margin-top: 20px;
        text-align: center;

        @include font-size(18px);
      }

      em {
        font-family: 'Open Sans';
        width: 100%;

        @include font-size(15px);
      }

      .btn {
        display: table;
        font-family: 'Open Sans';
        font-weight: 300;
        margin: 25px auto 0;

        @include font-size(16px);
      }
    }

    .home-page__hero-video {
      height: 268px;
      left: auto;
      position: absolute;
      right: 60px;
      top: 62px;
      width: 483px;
    }

    .home-page__description {
      h3 {
        color: $dark-blue;
        font-family: 'Raleway';

        @include font-size(36px);
      }

      h4 {
        color: $dark-blue;
        font-family: 'Raleway';
        margin: 15px 0 20px;

        @include font-size(24px);
      }

      p {
        color: $gray;
        font-family: 'Open Sans';

        @include font-size(16px);
      }
    }

    .home-page__icons {
      display: block;
    }

    .home-page__media {
      img {
        width: auto;
      }
    }
  }
}

@media (min-width: 1170px) {
  .container {
    width: 1150px
  }

  .home-page {

    .home-page__hero-content {
      color: #fff;
      left: 60px;
      position: absolute;
      top: 90px;
      width: 460px;

      h3 {
        font-family: 'Raleway';
        font-weight: 500;

        @include font-size(54px);
      }

      p {
        text-align: center;
      }

      em {
        font-family: 'Open Sans';

        @include font-size(20px);
      }

      .btn {
        display: table;
        font-family: 'Open Sans';
        font-weight: 300;
        margin: 35px auto 0;

        @include font-size(20px);
      }
    }

    .home-page__description-box {
      padding: 10px;

      h5 {
        color: $dark-blue;
        font-family: 'Open Sans';

        @include font-size(20px);
      }


      img {
        width: 100%;
      }

      .icon {

      }

      .content {
        background: $blue-gray;
        height: 240px;
        padding: 45px 10px 10px;
      }
    }

    .home-page__icons {
      display: block;
      padding: 20px 0 30px;

      svg {
        fill: $light-green;
        height: 60px;
        margin: 8px 8px;
        width: 60px;
      }
    }

    .home-page__media {
      img {
        width: auto;
      }
    }
  }
}

@media (min-width: 1200px) {
  .home-page {

    .container {
      width: 1170px;
    }

    .home-page__hero-content {
      color: #fff;
      left: 30px;
      position: absolute;
      top: 45px;
      width: 595px;

      h3 {
        font-family: 'Raleway';
        font-weight: 500;
        line-height: 1.4;

        @include font-size(36px);
      }

      p {
        color: $light-green;
        font-family: 'Raleway';
        font-weight: 500;
        text-align: left;

        @include font-size(36px);
      }

      .free {
        display: block;
        margin-top: 20px;
        text-align: center;

        @include font-size(18px);
      }

      .btn {
        display: table;
        font-family: 'Open Sans';
        font-weight: 300;
        margin: 35px auto 0;

        @include font-size(22px);
      }
    }

    .home-page__media {
      img {
        width: auto;
      }
    }
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: portrait) {
  .home-page {
    .home-page__hero-video {
      height: 115px;
      left: 45px;
      position: absolute;
      top: 200px;
      width: 208px;
    }

    .home-page__hero-content {
      h3 {
        @include font-size(20px);
      }

      p {
        color: $light-green;

        @include font-size(20px);
      }

      .btn {
        margin-bottom: 5px;
        @include font-size(16px);
      }
    }
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  .home-page {

    .container {
      width: 100%;
    }

    .home-page__hero {
      background: image-url('hero-back-desktop.jpg') no-repeat center right;
      background-size: cover;
      height: 360px;
      margin: 0;
      position: relative;
      width: 100%;
    }

    .home-page__hero-content {
      display: none;
    }

    .home-page__hero-video {
      height: 220px;
      position: absolute;
      left: 90px;
      top: 51px;
      width: 399px;
    }

    .home-page__tagline {
      padding: 15px 0;

      @include font-size(18px);
    }
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  .home-page {

    .container {
      width: 100%;
    }

    .home-page__hero {
      background: image-url('hero-back.jpg') no-repeat center center;
      background-size: cover;
      height: 432px;
      margin: 0 -15px;
      position: relative;
      width: 375px
    }

    .home-page__hero-content {
      display: block;

      h3 {
        margin-top: 10px;

        @include font-size(24px);
      }

      p {
        color: $light-green;
        padding: 0 10px;
        width: 100%;

        @include font-size(24px);
      }

      .btn {
        margin-bottom: 5px;
        margin-top: 5px;

        @include font-size(14px);
      }
    }

    .home-page__hero-video {
      height: 137px;
      left: 70px;
      position: absolute;
      top: 196px;
      width: 245px;
    }

    .home-page__tagline {
      padding: 15px 0;

      @include font-size(18px);
    }
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
  .home-page {

    .container {
      width: 100%;
    }

    .home-page__hero-video {
      height: 228px;
      left: auto;
      position: absolute;
      right: 48px;
      top: 48px;
      width: 400px;
    }

    .home-page__tagline {
      padding: 15px 0;

      @include font-size(18px);
    }
  }
}