.icon {
  display: inline-block;
}

.icon-arrow-down {
  background: image-url('svg/podkeeper_arrow-down.svg') center center no-repeat;
  background-size: 14px;
  display: inline-block;
  fill: #ddd;
  height: 14px;
  opacity: .5;
  text-indent: -999em;
  width: 14px;
}

.icon-arrow-up {
  background: image-url('svg/podkeeper_arrow-up.svg') center center no-repeat;
  background-size: 14px;
  display: inline-block;
  fill: #ddd;
  height: 14px;
  opacity: .5;
  text-indent: -999em;
  width: 14px;
}

.icon-back {
  background: #fff;
}

.icon-no-rsvp {
  background: $gray;
  border-radius: 42px;
  display: inline-block;
  height: 21px;
  width: 21px;
}

.icon-edit {
  fill: $green;
}

.icon-no {
  fill: $red;
}

.icon-menu {
  display: block;
  fill: #fff;
  height: 22px;
  width: 22px;
}

.icon-events {
  fill: $blue;
  height: 24px;
  width: 24px
}

.icon-event-date {
  fill: $blue;
  max-height: 70px;
  width: 100%;
}

.icon-discussions {
  fill: $blue;
  height: 24px;
  width: 24px
}

.icon-lists {
  fill: $blue;
  height: 24px;
  width: 24px
}

.icon-files {
  fill: $blue;
  height: 24px;
  width: 24px
}

.icon-more {
  fill: $blue;
  height: 21px;
  width: 21px
}