.icon {
  display: inline-block;
}

.icon-back {
  background: #fff;
}

.icon-menu {
  display: block;
  fill: #fff;
  width: 22px;
}

.icon-events {
  fill: $blue;
  width: 22px
}

.icon-event-date {
  fill: $blue;
  width: 100%;
}

.icon-discussions {
  fill: $blue;
  width: 24px
}

.icon-lists {
  fill: $blue;
  width: 21px
}

.icon-files {
  fill: $blue;
  width: 24px
}

.icon-more {
  fill: $blue;
  width: 21px
}