<h3 style="margin-bottom:0;">Events Calendar</h3>
<ul style="margin-top:0;">
  <li>RSVP to an event and see who else is coming</li>
  <li>Easily save the date and details of the group’s events to your personal calendar (Gmail, Yahoo Mail, Outlook, iCal)</li>
  <li>Access the Events Calendar from your mobile device and get directions to an event using Google Maps</li>
</ul>