<h3 style="margin-bottom:0;">Discussions</h3>
<ul style="margin-top:0;">
  <li>Access the group’s information in one central location</li>
  <li>Ask the members of the group a question in a way that is less obtrusive than asking in a "Reply All" email</li>
  <li>Provide or receive important group updates</li>
</ul>