<h1>Bummer!</h1>
<h2>This page is out of the game.</h2>
<p>The page you requested does not exist or has been moved.</p>
<p>Did you get to this page after clicking on a link in an email?<br/>If so, it could be that you’re currently signed in under another<br/>account. Simply go to <%= link_to root_url, root_url %> and sign out, then<br/> click on the link in the email again.</p>
<div class="photo">
  <%= image_tag 'soccer-boy.jpg', alt: 'boy sitting on soccer field' %>
</div>
<p>
  Use your browser’s back button to return to the previous page<br>
  or try our home page, <%= link_to root_url, root_url %>.
</p>