doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    title = content_for?(:title) ? "#{yield(:title)} | PodKeeper" : "PodKeeper"
    meta property="og:url" content="#{root_url}"
    meta property="og:site_name" content="PodKeeper"
    meta property="og:title" content="Online Organizer for Parents and Group Leaders"
    meta property="og:description" content=""
    meta property="og:image" content="http://www.podkeeper.com/assets/screenshot.jpg"
    meta name="description" content=""
    meta name="googlebot" content="noodp"
    meta name="googlebot" content="noarchive"
    meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"
    meta name="google-site-verification" content="ZLvKAAj-m_qJYOxe0iE4PDK7wjkR0az6UoO1_7Avvuo"
    meta name="norton-safeweb-site-verification" content="78cwjkic3m8ij6sv5wzg8a1-2i4v-xdo2yjvdhp49lu2ewdlalv20vg--4z22z13cgeki19t61sz9tlu36p8p8oih40is148k8cz7av2kdq7kdyujytcpvio3zaa5pki"
    - unless params[:action] == 'no_script'
      noscript
        meta http-equiv="refresh" content="0;URL=#{no_script_path}"

    meta name="apple-mobile-web-app-title" content="PodKeeper"
    link rel="apple-touch-icon" sizes="238x238" href="/podkeeper.png"
    link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16"
    link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32"
    link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96"
    = stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Roboto:400,500,300,700,500italic,400italic,300italic', 'http://fonts.googleapis.com/css?family=Raleway:400,500', 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    - if Rails.env.production?
      = render 'analytics'
      = render 'facebook_remarketing'
      = render 'bing_ads'

  body
    /! inject svg's for use inline throughout app
    = render 'svg_declaration'

    - if current_user
      /! push menu for mobile
      .visible-xs
        = render 'mobile_menu'

    main#main.panel.clearfix
      - if current_user
        .visible-xs
          = render 'mobile_header'
          = render 'site_nav_mobile'
        .hidden-xs
          = render 'desktop_header'
          = render 'site_nav_desktop'
      - else
        = render 'logged_out_nav'

      .error-messages
        = flash_messages
      .container.mobile-collapse
        = yield

      .push.hidden-xs

    = render 'footer'

    - if current_user
      = render 'pods/add_kid'
      = render 'notes/note_edit_modal'
      = render 'notes/comment_edit_modal'
      = render 'events/time_zone_modal'
      /! overlay for selecting new pod
      = render 'add_menu' if action_name == 'index'
      = render 'pod_select'

    javascript:

      var slideout = new Slideout({
        'panel': document.getElementById('main'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'side': 'right',
        'touch': 'false',
        'tolerance': 70
      });

      slideout.disableTouch();

      document.querySelector('.pod-nav__menu').addEventListener('click', function() {
        slideout.toggle();
      });

      $(function() {
        /*$('a[data-remote="true"]').on('click', function(e) {
          e.preventDefault();

          var $target = $(this);
          $target.unbind('click');

          var method = $target.data('method');
          var url = $target.attr('href');
          var data = $target.data('params');

          $.ajax({
            url: url,
            method: method || 'GET',
            data: data
          });

          return false;
        });*/

        /*$(document).on('click', 'a[data-remote="true"]', function(e) {
          e.preventDefault();

          var $target = $(this);
          $target.unbind('click');

          var method = $target.data('method');
          var url = $target.attr('href');
          var data = $target.data('params');

          $.ajax({
            url: url,
            method: method || 'GET',
            data: data
          });

          return false;
        });*/

        /*$(document).on('submit', 'form[data-remote="true"]', function(e) {
          e.preventDefault();

          var $target = $(this);
          var method = $target.find('input[name="_method"]') ? $target.find('input[name="_method"]').val() : $target.data('method');
          var url = $target.attr('action');
          var data = $target.serializeArray();;

          $.ajax({
            url: url,
            method: method || 'GET',
            data: data
          });

          return false;
        }); */

        $(document).on('click', '.view-toggle svg', function() {
          $('.event-calendar').toggle();
          if ($('.event-calendar:visible').length) {
            $(this).find('use').attr('xlink:href', '#icon-podkeeper-calendar-view');
          } else {
            $(this).find('use').attr('xlink:href', '#icon-podkeeper-list-view');
          }
        });

        $('.spinner').spinner({ min: 0, icons: { down: "icon-arrow-down", up: "icon-arrow-up" } });
      });